if SHIELD_MATTESPLIT36_LEFT || SHIELD_MATTESPLIT36_RIGHT_USB

config ZMK_KEYBOARD_NAME
    default "Mattesplit36"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_MATTESPLIT36_LEFT || SHIELD_MATTESPLIT36_RIGHT || SHIELD_MATTESPLIT36_RIGHT_USB

config ZMK_SPLIT
    default y

endif
